read file from a folder named in Thai. Failed!

In [1]:
read.csv('C:\\Users\\garavig\\OneDrive\\เอกสาร\\Haze\\chiangmai.csv')

Warning message in file(file, "rt"):
"cannot open file 'C:\Users\garavig\OneDrive\<U+0E40><U+0E2D><U+0E01><U+0E2A><U+0E32><U+0E23>\Haze\chiangmai.csv': Invalid argument"

ERROR: Error in file(file, "rt"): cannot open the connection

Move the file to the current folder. OK!

In [3]:
data<-read.csv('chiangmai.csv')

In [4]:
head(data)

  Date      Time  PM2.5 PM10 Temp Humid
1 23-Mar-16 23:15  89    98  27   44
2 23-Mar-16 23:48  90    98  27   44
3 24-Mar-16 0:38  104   114  26   44
4 24-Mar-16 6:04  152   169  24   44
5 24-Mar-16 6:18  155   173  24   44
6 24-Mar-16 6:29  159   178  24   44

In [8]:
data<-read.csv('chiangmai.csv')

In [9]:
head(data)

  Date        Time  PM2.5 PM10 Temp Humid
1 23-Mar-2016 23:15  89    98  27   44
2 23-Mar-2016 23:48  90    98  27   44
3 24-Mar-2016 0:38  104   114  26   44
4 24-Mar-2016 6:04  152   169  24   44
5 24-Mar-2016 6:18  155   173  24   44
6 24-Mar-2016 6:29  159   178  24   44

In [14]:
data$dt <- chron(dates=data[,1],times=data[,2]+':00',format=c('d-m-y','h:m:ss')

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: data$dt <- chron(dates=data[,1],times=data[,2]+':00',format=c('d-m-y','h:m:ss')
   ^

In [19]:
data$date2<-as.Date(data[,1],format='%d-%b-%Y')

In [24]:
data$dt<-as.POSIXct(paste(data$date2, data$Time), format="%Y-%m-%d %H:%M")

In [20]:
head(data)

  Date        Time  PM2.5 PM10 Temp Humid date2
1 23-Mar-2016 23:15  89    98  27   44    2016-03-23
2 23-Mar-2016 23:48  90    98  27   44    2016-03-23
3 24-Mar-2016 0:38  104   114  26   44    2016-03-24
4 24-Mar-2016 6:04  152   169  24   44    2016-03-24
5 24-Mar-2016 6:18  155   173  24   44    2016-03-24
6 24-Mar-2016 6:29  159   178  24   44    2016-03-24

In [29]:
data$hour<-as.numeric(format(data$dt, "%H"))

In [30]:
head(data)

  Date        Time  PM2.5 PM10 Temp Humid date2      dt                  hour
1 23-Mar-2016 23:15  89    98  27   44    2016-03-23 2016-03-23 23:15:00 23
2 23-Mar-2016 23:48  90    98  27   44    2016-03-23 2016-03-23 23:48:00 23
3 24-Mar-2016 0:38  104   114  26   44    2016-03-24 2016-03-24 00:38:00  0
4 24-Mar-2016 6:04  152   169  24   44    2016-03-24 2016-03-24 06:04:00  6
5 24-Mar-2016 6:18  155   173  24   44    2016-03-24 2016-03-24 06:18:00  6
6 24-Mar-2016 6:29  159   178  24   44    2016-03-24 2016-03-24 06:29:00  6

In [31]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [47]:
colnames(data)[3]<-'PM25'
hourlydata<-sqldf("select Date,hour,PM25,PM10,Temp,Humid from data group by Date,hour order by dt")

In [48]:
hourlydata

   Date        hour PM25 PM10 Temp Humid
1  23-Mar-2016 23    90   98  27   44
2  24-Mar-2016  0   104  114  26   44
3  24-Mar-2016  6   159  178  24   50
4  24-Mar-2016  7   152  170  24   51
5  24-Mar-2016  8   166  189  26   44
6  24-Mar-2016  9   220  250  28   44
7  24-Mar-2016 10   197  222  29   45
8  24-Mar-2016 12    92  100  34   33
9  24-Mar-2016 14    60   67  36   33
10 24-Mar-2016 15    57   66  36   30
11 24-Mar-2016 17    53   65  34   34
12 24-Mar-2016 18    58   69  32   45
13 24-Mar-2016 19    59   70  32   45
14 24-Mar-2016 21    65   75  30   45
15 25-Mar-2016  6    76   83  24   56
16 25-Mar-2016  7    91  100  24   53
17 25-Mar-2016  8    89   99  25   44
18 25-Mar-2016  9    98  108  28   44
19 25-Mar-2016 10    77   83  30   45
20 25-Mar-2016 11    60   70  32   45
21 25-Mar-2016 12    53   66  33   41
22 25-Mar-2016 13    35   42  35   29
23 25-Mar-2016 17    31   36  35   25
24 25-Mar-2016 18    40   49  34   26
25 25-Mar-2016 19    41   50  34   28