In [1]:
library(sqldf)
library(dplyr)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
airq25<-read.csv("Daily_PM2.5.csv")
airq10<-read.csv("Daily_PM10.csv")
sensorlist<-read.csv("sensorlist.csv")

In [9]:
head(airq)

  Series                                     Time     pm25     pm10
1 mqtt_consumer.mean {topic: chula/CU-S0005} 7/2/2018 71.67067 225.0769
2 mqtt_consumer.mean {topic: chula/CU-S0006} 7/2/2018 72.07493 228.9455
3 mqtt_consumer.mean {topic: chula/CU-S0009} 7/2/2018 72.37891 238.4050
4 mqtt_consumer.mean {topic: chula/CU-S0010} 5/2/2018 68.93370 227.6419
5 mqtt_consumer.mean {topic: chula/CU-S0010} 5/2/2018 68.93370 228.4266
6 mqtt_consumer.mean {topic: chula/CU-S0010} 5/2/2018 68.93370 266.8325

In [3]:
airq<-sqldf('select a.Series,a.Time,a.Value as pm25, b.value as pm10 from airq25 a, airq10 b where a.Series=b.Series')

Loading required package: tcltk
Warning message:
“Quoted identifiers should have class SQL, use DBI::SQL() if the caller performs the quoting.”

In [4]:
airq<-sqldf('select * from airq where pm25 <> "null"')
airq<-sqldf('select * from airq where pm10 <> "null"')

In [5]:
airq$pm25 <- as.numeric(as.character(airq$pm25))
airq$pm10 <- as.numeric(as.character(airq$pm10))
airq$pm25 <- airq$pm25/0.8
airq$pm10 <- airq$pm10/0.5

In [6]:
airq$Series <- as.character(airq$Series)

In [12]:
s<-unlist(strsplit(airq$Series, split="/"))

In [18]:
s[1:5]

[1] "mqtt_consumer.mean {topic: chula" "CU-S0005}"
[3] "mqtt_consumer.mean {topic: chula" "CU-S0006}"
[5] "mqtt_consumer.mean {topic: chula"